[submodule "v2/quality_estimation/quest_extractor"]
	path = v2/quality_estimation/quest_extractor
	url = git@github.com:zouharvi/questplusplus.git
[submodule "v2/web/highlight-within-textarea"]
	path = v2/web/highlight-within-textarea
	url = git@github.com:zouharvi/highlight-within-textarea.git
[submodule "v2/quality_estimation/fast_align"]
	path = v2/quality_estimation/fast_align
	url = git@github.com:zouharvi/fast_align.git
