* {
    font-family: Roboto, sans-serif;
}

.input_div {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.input_div div {
    margin-bottom: 20px;
}

.input_div div span { /* input textarea titles */
    width: 150px;
    display: inline-block;
}

.input_div div select { /* language selects */
    width: 90px;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    font-size: 18px;
    display: block;
}

textarea:disabled {
    background: #f5f5f5;
}

h4 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}