v2/quality_estimation/corpora/en-de/* linguist-vendored
v2/quality_estimation/corpora/en-es/* linguist-vendored
v2/quality_estimation/corpora/deepQuest/quest/examples/word_en_de/test.mt linguist-vendored
