.loader {
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -2px;
  margin-left: 10px;
  margin-right: 2px;
  border: 2px solid #ffffff00;
  border-top: 2px solid #555555;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  animation: spin 1s ease-in-out infinite;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings_warning {
  height: 17px;
  margin-right: 4px;
  position: relative;
  top: 2px;
  /* start hidden */
  display: none;
}


#study_ok_buttons input {
  width: 26px;
  height: 26px;
}

#study_ok_buttons input:nth-child(5) {
  background-color: #91b17e;
}

#study_ok_buttons input:nth-child(4) {
  background-color: #a7be52;
}

#study_ok_buttons input:nth-child(3) {
  background-color: #c7c54e;
}

#study_ok_buttons input:nth-child(2) {
  background-color: #c9a775;
}

#study_ok_buttons input:nth-child(1) {
  background-color: #c2746e;
}