div#ptakopet_floater {
    width: 400px;
    height: auto;
    position: fixed;
    top: 10px;

    background-color: #d6d6d6ee;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;

    /* visibility: hidden; */

    z-index: 120391231;
}

#ptakopet_control_bar {
    height: 35px;
}

#ptakopet_floater #ptakopet_control_bar i {
    font-size: 24px;
    cursor: pointer;
}

#ptakopet_floater #ptakopet_control_bar {
    text-align: center;
}

#ptakopet_floater #ptakopet_control_bar img {
    display: inline-block;
}

#ptakopet_floater textarea {
    width: 100%;
    height: 150px;
    font-size: 20px;
    resize: none;
    overflow-x: hidden;
    outline:none;
}

#ptakopet_floater textarea /*:first-of-type*/ {
    margin-bottom: 20px;
    background-color: #ffffffe3;
}

#ptakopet_floater textarea:last-of-type {
    background-color: #dfdfdfe8;
}

#ptakopet_floater #bottom_bar {
    height: 40px; 
    font-size: 20px;
}

#ptakopet_floater_icon {
    visibility: hidden;
    position: absolute;
    z-index: 120391231;
    cursor: pointer;
    width: 25px;
    padding: 2px;
    background-color: #f3f3f3a4;
    border-radius: 3px;
}